myhostname = {{ postfix_hostname }}
mydomain = {{ postfix_domain_name }}
myorigin = $mydomain

smtpd_banner = {{ postfix_smtpd_banner }}
biff = {{ postfix_biff_use }}

append_dot_mydomain = {{ postfix_append_dot_mydomain }}

#delay_warning_time = {{ postfix_delay_warning_time }}

readme_directory = {{ postfix_readme_directory }}

compatibility_level = {{ postfix_compatibility_level }}

# TLS parameters
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_tls_key_file }}
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}

smtp_tls_CApath = {{ postfix_smtp_tls_CApath }}
smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
smtp_tls_session_cache_database = {{ postfix_smtp_tls_cache_database }}

smtpd_relay_restrictions = {{ postfix_smtpd_relay_restrictions }}
alias_maps = {{ postfix_alias_maps }}
alias_database = {{ postfix_alias_database }}
mydestination = {{ postfix_mydestination }}
relayhost = {{ postfix_relayhost }}
mynetworks = {{ postfix_mynetworks }}
mailbox_size_limit = {{ postfix_mailbox_size_limit }}
recipient_delimiter = {{ postfix_recipient_delimiter }}
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
